@using MVCKUTUPHANE.Models.Entity
@model List<TBLDUYURU>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string renk = "";
}


<table class="table table-bordered">
    <tr style="background-color:#e6a32e">
        <th>Duyuru No</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Detay</th>
    </tr>
    @foreach (var dyr in Model)
    {
        if (dyr.KATEGORI == "Diğer")
        {
            renk = "bg-info text-white";
        }
        if (dyr.KATEGORI == "Yeni Kitap")
        {
            renk = "bg-warning text-white";
        }
        if (dyr.KATEGORI == "İletişim")
        {
            renk = "bg-success text-white";
        }
<tr class="@renk">
    <td>@dyr.ID</td>
    <td>@dyr.KATEGORI</td>
    <td>@Convert.ToDateTime(dyr.TARİH).ToString("dd/MM/yyyy")</td>
    <td><a href="/Duyuru/Sil/@dyr.ID" class="btn btn-danger">Sil</a></td>
    <td><a href="/Duyuru/DuyuruDetay/@dyr.ID" class="btn btn-info">Detaylar</a></td>
</tr>
    }
</table>
<a href="/Duyuru/YeniDuyuru/" class="btn btn-primary">Yeni Duyuru Ekle</a>

