@using MVCKUTUPHANE.Models.Entity
@model List<TBLKATEGORI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori İşlemleri</h2>
<br />


<table class="table table-hover">
    <tr style="background-color:#e6a32e">
        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var ktg in Model)
    {
        <tr>
            <td>@ktg.ID</td>
            <td>@ktg.AD</td>
            <td><a href="/Kategori/Sil/@ktg.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@ktg.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>

