@using MVCKUTUPHANE.Models.Entity
@model List<TBLDUYURU>
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<table class="table table-hover">
    <tr style="background-color:#e6a32e">

        <th>Kategori</th>
        <th>İçerik</th>
        <th>Tarih</th>
    </tr>
    @foreach (var dyr in Model)
    {
<tr>

    <td>@dyr.KATEGORI</td>
    <td>@dyr.ICERIK</td>
    <td>@Convert.ToDateTime(dyr.TARİH).ToString("dd/MM/yyyy")</td>
</tr>
    }
</table>



